<div class="admin-panel">
    <h1>Admin Page</h1>
    <div class="forms-div">
        <form action="/admin/task" method="get">
            <button type="submit">Add Task</button>
        </form>

        <form action="/admin/users" method="get">
            <button type="submit">Users</button>
        </form>
    </div>
    <div class="tasks">
        <h2>Tasks</h2>
        <% for( let i = 0; i < tasks.length; i++ ) { %>
        <div class="task-card">
            <p><span>Task name : </span><%= tasks[i].name %></p>
            <p><span>Task description : </span><%= tasks[i].description%> </p>
            <p><span>Points : </span><%= tasks[i].points %></p>
            <p><span>Category : </span><%= tasks[i].category %></p>
            <p><span>Submissions: </span><%= tasks[i].submissions.length%> </p>
        </div>
        <% } %>
    </div>


</div>
<script>
</script>