<div class="admin-users-display">
    <h2>Users List</h2>
    <div class="user-div">
        <% for( let i = 0; i < users.length; i++ ) { %>
            <div class="user-card">
                <p><span>User name : </span><%= users[i].name %></p>
                <p><span>User email : </span><%= users[i].email %></p>
                <p><span>User role : </span><%= users[i].role %></p>
                <p><span>User points : </span><%= users[i].points %></p>
                <p><span>Banned : </span><%=users[i].isBanned%></p>
                <div class="task-display">
                    <p> <span>User tasks : </span> </p>
                    <div class="task-link">
                         <% for( let j = 0; j < users[i].tasks.length; j++ ) { %>
                            <a href="/task/<%= users[i].tasks[j] %>"> Task <%= j+1 %> </a>
                        <% } %>
                    </div>
                   
                </div>
                <div class="admin-control">
                    <form action="/admin/users/ban" method="post">
                        <input name="userId" value="<%= users[i].id %>" type="hidden">
                        <button type="submit">Ban</button>
                    </form>
                    <form action="/admin/users/dataClear" method="post">
                        <input name="userId" value="<%= users[i].id %>" type="hidden">
                        <button type="submit">Clear Data</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
  
</div>

