<div class="dashboard">
    <div class="dash">
        <h2>Dashboard</h2>
        <p>Here you can checkout the weekly tasks assigned.</p>
    </div>
    <div class="tasks-display-div">
        <div class="task-control">
            <button onclick="closed()">
                Closed
            </button>
            <button onclick="opened()">
                Open
            </button>
            <button onclick="submitted()">
                Submitted
            </button>
            <button onclick="reviewed()">
                Reviewed
            </button>
        </div>
        <div class="tasks-display" id="open">
            <% if (openTasks.length == 0) { %>
            <p>No open tasks</p>
            <% } else { %>
            <%for (var i = 0; i < openTasks.length; i++) {%>
            <a href="/task/<%=openTasks[i].id%>">
                <div class="task-card">
                    <p><span>Name : </span><%=openTasks[i].name%></p>
                    <p><span>Points : </span><%=openTasks[i].points%></p>
                    <p><span>Due Date : </span><%=openTasks[i].dueDate%></p>
                    <p><span>Description : </span> <br>
                        <%=openTasks[i].description%>
                    </p>
                </div>
            </a>
            <%}%>
            <%}%>
        </div>
        <div class="tasks-display" id="close">
            <% if (closedTasks.length == 0) {%>
            <p>No closed tasks</p>
            <%} else {%>
            <%for (var i = 0; i<closedTasks.length; i++) {%>
            <a href="/task/<%=closedTasks[i].id%>">
                <div class="task-card">
                    <p><span>Name : </span><%=closedTasks[i].name%></p>
                    <p><span>Points : </span><%=closedTasks[i].points%></p>
                    <p><span>Due Date : </span><%=closedTasks[i].dueDate%></p>
                    <p><span>Description : </span> <br>
                        <%=closedTasks[i].description%>
                    </p>
                </div>
            </a>
            <%}%>
            <%}%>
        </div>
        <div class="tasks-display" id="review">
            <% if (reviewedTasks.length  == 0){ %>
            <p>No tasks reviewed</p>
            <% } else { %>
            <%for (var i = 0; i<reviewedTasks.length; i++) {%>
            <a href="/task/<%=reviewedTasks[i].id%>">
                <div class="task-card">
                    <p><span>Name : </span><%=reviewedTasks[i].name%></p>
                    <p><span>Points : </span><%=reviewedTasks[i].points%></p>
                    <p><span>Due Date : </span><%=reviewedTasks[i].dueDate%></p>
                    <p><span>Description : </span> <br>
                        <%=reviewedTasks[i].description%>
                    </p>
                </div>
            </a>
            <%}%>
            <%}%>
        </div>
        <div class="tasks-display" id="submit">
            <% if (submittedTasks.length == 0) {%>
            <p>No tasks submitted</p>
            <% } else { %>
            <%for (var i = 0; i<submittedTasks.length; i++) {%>
            <a href="/task/<%=submittedTasks[i].id%>">
                <div class="task-card">
                    <p><span>Name : </span><%=submittedTasks[i].name%></p>
                    <p><span>Points : </span><%=submittedTasks[i].points%></p>
                    <p><span>Due Date : </span><%=submittedTasks[i].dueDate%></p>
                    <p><span>Description : </span> <br>
                        <%=submittedTasks[i].description%>
                    </p>
                </div>
            </a>
            <%}%>
            <%}%>
        </div>
    </div>
</div>
<script>
    opened()

    function closed() {
        document.getElementById('close').style.display = 'block'
        document.getElementById('open').style.display = 'none'
        document.getElementById('review').style.display = 'none'
        document.getElementById('submit').style.display = 'none'
    }

    function opened() {
        document.getElementById('close').style.display = 'none'
        document.getElementById('open').style.display = 'block'
        document.getElementById('review').style.display = 'none'
        document.getElementById('submit').style.display = 'none'
    }

    function reviewed() {
        document.getElementById('close').style.display = 'none'
        document.getElementById('open').style.display = 'none'
        document.getElementById('review').style.display = 'block'
        document.getElementById('submit').style.display = 'none'
    }

    function submitted() {
        document.getElementById('close').style.display = 'none'
        document.getElementById('open').style.display = 'none'
        document.getElementById('review').style.display = 'none'
        document.getElementById('submit').style.display = 'block'
    }
</script>