<div class="task">
    <div class="dash">
        <h2>Task</h2>
        <!-- check if submitted and if due -->
        <% if (!ifDue && !ifSubmitted) { %>
        <h3 style="color: red;">The task is past due</h3>
        <% } %>
        <!-- Display details of taks -->
        <p>
            Name- <%= task.name %><br>
            Description- <%= task.description %><br>
            Due- <%= task.dueDate %>
        </p>
    </div>
    <div class="details">
        <% if (ifSubmitted) { %>
        <div>
            <% if (ifReviewed) { %>
            <div>
                <h2>The Task has been reviewed</h2>
                <p>Link given:-<%= task.link%></p>
                <p>Description:- <%= description %> </p>
                <p>Points:-<%= points %>/<%= task.points %></p>
                <p>Comment By Admin:-<%= comment %></p>
                <div>
                    <h3> Admin Chat </h3>
                    <!-- loop through userMessages -->
                    <% for (var i = 0; i < userMessages.length; i++) { %>
                    <div>
                        <% if (userMessages[i].fromAdmin == true) {  %>
                        Admin: <%= userMessages[i].comment %> <br>
                        <% } else { %>
                        You: <%= userMessages[i].comment %> <br>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } else { %>
            <div>
                <h2>This task has been submitted but not yet reviewed by Admin</h2>
                <p>Link given:-<%= task.link%></p>
                <p>Description:- <%= description %> </p>
                <div>
                    <h3> Chat With Admin </h3>
                    <!-- loop through userMessages -->
                    <% for (var i = 0; i < userMessages.length; i++) { %>
                    <div>
                        <% if (userMessages[i].fromAdmin == true) {  %>
                        Admin: <%= userMessages[i].comment %> <br>
                        <% } else { %>
                        You: <%= userMessages[i].comment %> <br>
                        <% } %>
                    </div>
                    <% } %>
                    <% if (userMessages.length == 0) {%>
                    <p>No Conversation Yet! Type Something Below!</p>
                    <% } %>
                </div>
                <form action="/task/chat" method="post">
                    <input name="taskId" value="<%= task.id %>" type="hidden">
                    <input name="userEmail" value="<%= user.email %>" type="hidden">
                    <input name="comment" type="text" placeholder="Message" required autocomplete="off">
                    <br>
                    <button type="submit">Send</button>
                </form>
            </div>
            <% } %>
        </div>
        <% } else if (ifDue) { %>
        <h3>Submit</h3>
        <form action="/task/submit" method="post">
            <input name="taskId" value="<%= task.id %>" type="hidden">
            <input name="userEmail" value="<%= user.email %>" type="hidden">
            <input name="link" type="url" placeholder="Link" required autocomplete="off"> <br><br>
            <input name="notes" type="text" placeholder="Description" autocomplete="off"> <br><br>
            <button type="submit">Submit Task</button>
        </form>
        <% } %>
    </div>


    <div class="admin-dash">
        <!-- Admin View -->
        <h2>Submissions</h2>
        <% if (user.isAdmin) { %>
        <div>
            <!-- list all submissions -->
            <% if (submissions.length > 0) { %>
            <div>

                <% for (var i = 0; i < submissions.length; i++) { %>
                <div style="border: 1px solid #fff; padding:15px;">
                    <!-- TODO: Make collabsable with name as heading which opens up further details, add total points field -->
                    Reviewed: <%= submissions[i].isReviewed %> <br>
                    Comment: <%= submissions[i].comment %> <br>
                    Points: <%= submissions[i].points %> <br>
                    Total Points: <%= task.points %> <br>
                    <li><%= submissions[i].link %> - <%= submissions[i].notes %> <%= submissions[i].userEmail %> </li>
                    <form action="/admin/review" method="post">
                        <input name="taskId" value="<%= task.id %>" type="hidden">
                        <input name="userEmail" value="<%= submissions[i].userEmail %>" type="hidden">
                        <input name="points" type="number" placeholder="Points" required autocomplete="off"> <br><br>
                        <input name="comment" type="text" placeholder="Comment" autocomplete="off"> <br><br>
                        <button type="submit">Review</button>
                    </form>
                    <h2> Messages </h2>
                    <!-- loop through messages from this user -->
                    <% for (var j = 0; j < messages.length; j++) { %>
                    <div>
                        <% if (messages[j].userEmail == submissions[i].userEmail) { %>
                        <div>
                            <% if (messages[j].fromAdmin == true) { %>
                            Admin: <%= messages[j].comment %> <br>
                            <% } else { %>
                            User: <%= messages[j].comment %> <br>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                    <form action="/admin/chat" method="post">
                        <input name="taskId" value="<%= task.id %>" type="hidden">
                        <input name="userEmail" value="<%= submissions[i].userEmail %>" type="hidden">
                        <input name="comment" type="text" placeholder="Message" required autocomplete="off"> <br>
                        <button type="submit">Send</button>
                    </form>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
</div>